body
{
    overflow: hidden;
}
.sphynx
{
    position: absolute;
    z-index: -1;
    left: 5%;
    top: -10%;
    width: 80vw;
}
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: russo;
    font-size: 40px;
}
.grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
input
{
    width: 100px;
    height: 75px;
    margin: 20px 20px 20px 20px;
    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: russo;
    cursor: pointer;
}
.level-completed
{
    background-color: #22BB44;
}
.level-unlocked
{
    background-color: #00BBCC;
}
.level-locked
{
    background-color: #AAA;
}
@font-face {
    font-family: russo;
    src: url(./RussoOne-Regular.ttf);
}