<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/leaderboard.css') }}">
    <title>Leaderboard</title>
</head>
<body>
    <a class="logout" href="{{ url_for('levels', name=data.name) }}">Main Menu</a>
    <img class="sphynx" src="{{ url_for('static', filename='assets/level_select_bg.png') }}"></img>
    <div class="center">
        <h1 style="text-align: center; font-size: 2em;">Leaderboard</h1>
        <div class="grid">
            <div>
                <ul style="font-size: 1.5em; list-style: none; padding: 0;">
                    {% for user in data.results %}
                        <li style="margin: 10px 0; text-align: center;"> 
                            {{ loop.index }}. {{ user[0] }} - Score: {{ user[1] }} 
                        </li>            
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
