<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/levelselectstyles.css') }}">
    <title>Beat Sphynx</title>
</head>
<body>
    <div class="title">Level Select</div>
    <div class="user">User: {{ data.name }}<br>Score: {{ data.score }}</div>
    <a class="logout" href="{{ url_for('index') }}">Log Out</a>
    <img class="sphynx" src="{{ url_for('static', filename='assets/level_select_bg.png') }}"></img>
    <div class="center">
        <div class="grid">
            <form method="post">
                <input name="name" type="hidden" value="{{ data.name }}">
                <input name="level" type="hidden" value="1"></input>
                <input name="difficulty" type="hidden" value="1"></input>
                <input type="submit" class="{{ data.level_tags[0] }}" value="Level 1"></input>

            </form>
            <form method="post">
                <input name="name" type="hidden" value="{{ data.name }}">
                <input name="level" type="hidden" value="2"></input>
                <input name="difficulty" type="hidden" value="1"></input>
                <input type="submit" class="{{ data.level_tags[1] }}" value="Level 2"></input>

            </form>
            <form method="post">
                <input name="name" type="hidden" value="{{ data.name }}">
                <input name="level" type="hidden" value="3"></input>
                <input name="difficulty" type="hidden" value="1"></input>
                <input type="submit" class="{{ data.level_tags[2] }}" value="Level 3"></input>

            </form>
            <form method="post">
                <input name="name" type="hidden" value="{{ data.name }}">
                <input name="level" type="hidden" value="1"></input>
                <input name="difficulty" type="hidden" value="2"></input>
                <input type="submit" class="{{ data.level_tags[3] }}" value="Nightmare 1"></input>

            </form>
            <form method="post">
                <input name="name" type="hidden" value="{{ data.name }}">
                <input name="level" type="hidden" value="2"></input>
                <input name="difficulty" type="hidden" value="2"></input>
                <input type="submit" class="{{ data.level_tags[4] }}" value="Nightmare 2"></input>

            </form>
            <form method="post">
                <input name="name" type="hidden" value="{{ data.name }}">
                <input name="level" type="hidden" value="3"></input>
                <input name="difficulty" type="hidden" value="2"></input>
                <input type="submit" class="{{ data.level_tags[5] }}" value="Nightmare 3"></input>

            </form>
        </div>
    </div>
</body>
</html>